body{
    background-image: url(YtRPuwr.gif);
    text-align: center;
} 
        
#video {
    height:500px;
    width:900px;
    border-radius: 70px;
    border-color: yellow;
    border-width:20px;
    
}